:root {
    --azulescuro: #001333;
    --azulescuro2: #002255;
    --amarelo: #d4ff00;
    --azul: #007bff;
    --vermelho: #dc3545;
}

body{
    background-color: var(--azulescuro);
    color: white;
}

header{
    background-color: var(--azulescuro2);
}

#cc{
    margin: 10px;
}

#destaque{
    color: var(--amarelo);
}

.btn{
    background-color: var(--azulescuro2);
    color: white;
}


img{
    width: 40vw;
    height: 50vh;
}

#futebol{
    background-color: var(--amarelo);
    color: black;
}
