.cabecalho{
    background-color: #06183d;
}

.banner-principal{
    background-color: #0d6efd;
}

.inscricao{
    background-color: #0d6efd;
}

.rodape{
    background-color: #06183d;
}

.rodape a{
    text-decoration: none;
}

.rodape a:hover{
    color: #ffc107;
}

#btnacompanhar{
    padding-right: 0px;
    padding-left: 0px;
}