.cabecalho {
    background-color: #06183d;
}

#cc{
    margin: 10px;
}

#destaque{
    color: var(--amarelo);
}

/*.btn{
    background-color: var(--azulescuro2);
    color: white;
}*/


img{
    width: 40vw;
    height: 50vh;
}

#futebol{
    background-color: var(--amarelo);
    color: black;
}
.rodape a:hover {
    color: #ffc107;
}